body{
    background-color: #494647;
}
.app{
    color: #EAFE00;
    background-color: #1C1D1D;
    width: 400px;
    height: 200px;
    padding: 15px;
    border: 10px solid #fff;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}